@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-ExtraBold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-RegularItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;

}

@font-face {
	font-family: "EB Garamond";
	src:
		local("EB Garamond")
		url("/assets/fonts/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
