* {
	box-sizing: inherit;
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
	gap: inherit;
}

:root {
	box-sizing: border-box;

	--celo-green: #35D07F;
	--celo-gold: #FBCC5C;
	--celo-dark: #2E3338;
	--celo-white: #FFFFFF;

	--celo-violet: #BF97FF;
	--celo-red: #FB7C6D;
	--celo-cyan: #73DDFF;
	--celo-blue: #3488EC;

	--celo-heavy-gray: #ABADAF;
	--celo-gray: #DDDDDD;
	--celo-light-gray: #EDEEEF;
	--celo-faint-gray: #F8F9F9;
	--celo-faint-gold: #FEF2D6;


	--body-font: Jost, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--heading-font: EB Garamond, eb-garamond, Garamond, var(--body-font);

	--background-color: var(--celo-light-gray);

	background-color: var(--background-color);
	color: var(--celo-dark);

	font-family: var(--body-font);
	font-size: 16px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden auto;
}

/* Mobile Webkit 100vh hack */
html {
	height: -webkit-fill-available;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}


h1 {
	font-family: var(--heading-font);
	font-size: 3em;
	font-weight: 500;
}
h2 {
	font-family: var(--heading-font);
	font-size: 2.5em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-family: var(--heading-font);
	font-size: 1.75em;
}
h5 {
	font-size: 1.25em;
}



a {
	color: var(--celo-green);
	text-decoration: none;
	transition: 0.3s ;
}
a:hover {
	text-decoration: underline;
}
a:hover img {
	filter: brightness(1.5);
}

label {
	display: block;
}

input[type="text"], input[type="search"], button, textarea {
	background-color: var(--celo-white);
	box-shadow: 0 1px var(--depth) rgba(var(--celo-dark), 0.5);
	border: none;
	border-radius: 0.5em;
	padding: 0.75em 1em;
	appearance: none;
}
select {
	background: none;
	border: none;
	cursor: pointer;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: var(--celo-dark);
	background-color: var(--celo-green);
	outline: none;
	cursor:pointer;
	transition: 0.3s;
}
button:hover {
	background-color: var(--celo-gold);
}
button:disabled {
	filter: grayscale();
}
button:not(:disabled):active {
	background-color: #ddd;
}
button:focus {
	border-color: #666;
}


.card {
	--depth: 5px;
	--y: 0;

	background-color: var(--celo-white);
	box-shadow: 0 var(--depth) calc(1px + var(--depth)) rgba(0, 0, 0, 0.06);
	border-radius: 1.5em;
	padding: 2em;

	transition: 0.3s;

	display: grid;
	gap: 1.25em;

	transform: translateY(var(--y));
}
.card.static {
	box-shadow: none;
}
.card:not(.static):hover, .card:not(.static):focus {
	--depth: 10px;
	--y: -3px;
}

a.card {
	color: inherit;
	text-decoration: none;
}


img {
	max-width: 100%;
	object-fit: contain;
}

hr {
	background: none;
	border: none;
	border-bottom: 1px solid;
	opacity: 0.15;
}


.full {
	grid-column: 1 / -1;
}

.row {
	display: grid;
	grid-auto-flow: column;
}

.bar {
	display: grid;
	/* grid-template-columns: minmax(0, 1fr); */
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-between;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
	backdrop-filter: blur(20px);
}
.sticky:before {
	content: '';
	position: absolute;
	inset: 0;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: -1;
	background-color: var(--background-color);
	opacity: 0.85;
}

.grid {
	--column-size: calc(16em + 0.2vw);

	display: grid;
	grid-template-columns: repeat(auto-fit, [col] minmax(var(--column-size), 1fr));
	gap: var(--space-inner);
	align-content: start;
}
.grid.small {
	--column-size: calc(9em + 0.15vw);
}
/* @media (max-width: 38rem) { */
	/* .grid {
		grid-template-columns: minmax(0, 1fr);
		grid-auto-flow: row;
	} */
	/* .grid > * {
		grid-column: 1 / -1;
	}
} */
